
<div class="container">
    <h1>ToDo-List</h1>
    <hr>
    
    <form (ngSubmit)="onSubmitHandler(taskForm)" #taskForm="ngForm">
        <div class="form-group">
        <label for="exampleInputEmail1">Task</label>
        <input type="text" class="form-control" id="task" placeholder="Enter Your Task Here" ngModel name="task" required="">
        <small *ngIf="taskForm.invalid && taskForm.dirty" id="errMsg" class="form-text text-danger">Required Field</small>
        </div>
        
        
        <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Submit</button>
    </form>

    <hr>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Completed</th>
            <th scope="col">Delete</th>
          </tr>

        </thead>
        <tbody>
          
        <tr *ngFor="let t of taskArr; index as i">
            <td>{{t.taskName}}</td>
            <td><input (change)="onCheck(i)" id="checkBox" type="checkbox"></td>
            <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
        </tr>
          
        </tbody>
      </table>

</div>
