
<script src="https://kit.fontawesome.com/378b21b147.js" crossorigin="anonymous"></script>

<div class="container">
    <h1>ToDo-List</h1>
    <hr>
    
    <!-- Form for adding a new task -->
    <form (ngSubmit)="onSubmitHandler(taskForm)" #taskForm="ngForm">
        <div class="form-group">
        <label for="exampleInputEmail1" class="task-label">Task</label>
        <input type="text" class="form-control" id="task" placeholder="Enter Your Task Here" ngModel name="task" required="">
        <!-- Condition to check if the field is empty or not -->
        <small *ngIf="taskForm.invalid && taskForm.dirty" id="errMsg" class="form-text text-danger">Required Field</small>
        </div>
        
        
        <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Add</button>
    </form>

    
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Tasks</th>
            <th scope="col">Completed</th>
            <th scope="col" colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
        <!-- Loop through the taskArr array to display each task -->
        <tr *ngFor="let t of taskArr; index as i">
            <td>{{t.taskName}}</td>

            <!-- Checkbox to mark task as completed or not -->
            <td><input (change)="onCheck(i)" id="checkBox" type="checkbox" [checked] = "t.isCompleted"></td>
            <!-- Edit button which has an onClick function named onEdit which takes the taskName and the index of the task -->
            <td><button class="btn btn-info btn-sm" (click)="onEdit(t, i)">Edit</button></td>
            <!-- Delete button which has an onClick function which takes the idx of the task -->
            <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
        </tr>
          
        </tbody>
      </table>

      <!-- Modal for editing a task -->
      <div class="modal" tabindex="-1" role="dialog" [class.show]="isEditModalOpen" [style.display]="isEditModalOpen ? 'block' : 'none'">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- Title of the modal -->
                    <h5 class="modal-title">Edit Task</h5>

                    <!-- Button to close the modal -->
                    <button type="button" class="close" (click)="isEditModalOpen = false">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for editing the task -->
                    <form (ngSubmit)="onEditSubmit(editTaskForm)" #editTaskForm="ngForm">
                        <div class="form-group">
                            <label for="editTask">Task</label>
                            <!-- Input field for editing the task, bound to currentTask.taskName-->
                            <input type="text" class="form-control" id="editTask" placeholder="Enter Your Task Here" [(ngModel)]="currentTask.taskName" name="task" required="">

                            <!-- Condition to make the form invalid if the field is empty -->
                            <small *ngIf="editTaskForm.invalid && editTaskForm.dirty" id="errMsg" class="form-text text-danger">Required Field</small>
                        </div>

                        <!-- Submit button for the form, disabled when the form is invalid-->
                        <button type="submit" class="btn btn-primary mt-2" [disabled]="editTaskForm.invalid">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
